.body {
  background-color: rgb(178, 250, 250);
  font-family:Iranian-Sans ;
}
/* a{font}*/
@font-face{
  font-family:Iranian-Sans;
  src:url(../media/font/Iranian\ Sans.ttf)
}
/* a{header}*/
.-img{
  height: 580px;
  width: 100%;
}
.-carousel{
  border: 10px double red;
  box-shadow: 4px 4px 2px rgb(148, 148, 148);
  border-radius: 5px;
  width: 75%;
  height: 600px;
  margin: auto;
}
/* a{main}*/
.tag-a {
  font-size: 26pt;
}

.download {
  border: 5px double rgb(250, 0, 0);
  background-color: rgb(227, 93, 240);
  box-shadow: 4px 4px 2px rgb(148, 148, 148);
  text-decoration: none;
  color: black;
}

.-border {
  width: 500px;
  border: 5px double blue;
  box-shadow: 4px 4px 2px rgb(148, 148, 148);
}

/*a{overall}*/

/*{pseudo-element*/
*::selection {
  color: white;
  background-color: black;
}

/*{pseudo-class}*/
.download:visited {
  color: blue;
}

.download:hover {
  background-color: black;
  color: red;
  text-decoration: none;
}

.download:active {
  color: chartreuse;
}
.tag-a-header:hover{
  text-decoration: none;
}
