.body {
  background-color: rgb(178, 250, 250);
  font-family:Iranian-Sans ;
}
*{
  word-spacing: -5pt;
  margin: 0;
  padding: 0;
}
/* a{font}*/
@font-face{
  font-family:Iranian-Sans;
  src:url(../media/font/Iranian\ Sans.ttf)
}
/* a{header}*/
.-img{
  height: 580px;
  width: 100%;
}
/* .-navbar{
  margin-right: 230px;
} */
.-carousel{
  border: 10px double red;
  box-shadow: 4px 4px 2px rgb(148, 148, 148);
  border-radius: 5px;
  width: 75%;
  height: 600px;
  margin: auto;
}
/* a{main}*/
.tag-a {
  font-size: 26pt;
}

.download {
  border: 5px double rgb(250, 0, 0);
  background-color: rgb(227, 93, 240);
  box-shadow: 4px 4px 2px rgb(148, 148, 148);
  text-decoration: none;
  color: black;
}

.-border {
  width: 500px;
  border: 5px double blue;
  box-shadow: 4px 4px 2px rgb(148, 148, 148);
}

/*a{overall}*/

/*{pseudo-element*/
*::selection {
  color: white;
  background-color: black;
}

/*{pseudo-class}*/
.download:visited {
  color: blue;
}

.download:hover {
  background-color: black;
  color: red;
  text-decoration: none;
}

.download:active {
  color: chartreuse;
}
.tag-a-header:hover{
  text-decoration: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .onvan{
    font-size: 42pt;
    font-weight: 500;
  }
 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .onvan{
    font-size: 40pt;
    font-weight: 500;
  }
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .onvan{
    font-size: 38pt;
    font-weight: 500;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .onvan{
    font-size: 36pt;
    font-weight: 500;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .onvan{
    font-size: 34pt;
    font-weight: 500;
  }

}
